<div class="mdl-grid">
    <div *ngFor="let ligne of lignes" class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
  </div>