<div class="mdl-grid">
	<div *ngFor="let ligne of lignes" class="mdl-cell mdl-cell--2-col">
		<div class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h4>
					Ligne {{ ligne.numLigne }}
				</h4>
				{{ ligne.typeLigne }}
			</div>
			<!-- {{ ligne.typeLigne === 1 : 'show'}} -->
		</div>

		<i class="material-icons">{{ligne.typeLigne === 2 || ligne.typeLigne === 3 ? '' : 'directions_bus'}}</i>

		<i class="material-icons">{{ligne.typeLigne === 1 ? '' : 'tram'}}</i>

		<i class="material-icons">{{ligne.typeLigne === 4 ? '' : 'directions_boat'}}</i>
	</div>
</div>