<div *ngIf="lignes">
	<div class="mdl-grid" *ngIf="lignes.length > 1">
		<button *ngFor="let ligne of lignes" class="mdl-cell mdl-cell--1-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
		 (click)="onSelect(ligne)">
			{{ ligne.numLigne }}
		</button>
	</div>
</div>

<div class="mdl-grid">
	<div *ngFor="let tempsDattente of tempsDattentes" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title">
			<h3 class="mdl-card__title-text">{{ tempsDattente.ligne.numLigne }} - {{ tempsDattente.terminus }}</h3>
		</div>
		<div class="mdl-card__supporting-text" id="line-{{ tempsDattente.index }}">
			{{ drawLine(tempsDattente) }}
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				Voir la ligne
			</a>
		</div>
		<div class="mdl-card__menu">
			<i class="material-icons">
				{{ tempsDattente.ligne.typeLigne === 2 || tempsDattente.ligne.typeLigne === 3 ? 'directions_bus' : ''}} {{ tempsDattente.ligne.typeLigne
				=== 1 ? 'tram' : '' }} {{ tempsDattente.ligne.typeLigne === 4 ? 'directions_boat' : ''}}
			</i>
		</div>
	</div>
</div>